
.jsonEditor {
    width: 400px;
    height: 200px;

    background: #1e1e1e;
    color: white;

    border: 1px solid #3c3c3c;
    border-radius: 4px;

    padding: 8px;

    font-family: Consolas, monospace;
    font-size: 14px;
    line-height: 1.4;

    resize: both;
    outline: none;
}

.jsonEditor:focus {
    border-color: #2676ab;
}